<form action="/document" method="post" enctype="multipart/form-data">
    <div class="leadform">
        <div class="container">
            <div class="subnavbar">
                <h3>Add Document</h3>
                <div class="subnavbarbuttons">
                    <button type="submit"  >Save</button>
                    <a href="">Discard</a>
                </div>
            </div>

            <div class="splitcontainer">
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Name</label>
                        <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Owner</label>
                        <input name="owner" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Companies</label>
                        <input name="companies" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                </div>
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Contact</label>
                        <input name="contact" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Leads</label>
                        <input name="leads" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Deals</label>
                        <input name="deals" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                </div>
            </div>

            <h4>Attachment</h4>
            <div class="container sizedupload">

                <div class="input-group">
                    <input type="file" name="file" class="form-control" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
                </div>

            </div>
        </div>

    </div>



</form>