<form action="/lead" method="post" enctype="multipart/form-data" >
    <div class="leadform">
        <div class="container">
            <div class="subnavbar">
                <h3>Create Lead</h3>
                <div class="subnavbarbuttons ">
                    <button type="submit" class="leadsavebutton" >Save</button>
                    <a href="" class="leadsavebutton">Discard</a>
                </div>
            </div>

            <!-- <div class="uploadimage">
                <h4>
                    Lead Image
                </h4>
                <a href=""><img src="img/profile.png" alt="" srcset=""></a>
                
            </div> -->

            <h4>Lead Information</h4>
            <div class="splitcontainer">
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Lead Owner</label>
                        <input name="leadowner" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">First Name</label>
                        <input name="firstname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Title</label>
                        <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Mobile</label>
                        <input name="mobile" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Lead Source</label>
                        <input name="leadsource" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Company</label>
                        <input name="company" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Annual Revenue</label>
                        <input name="annualrevenue" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Last Name</label>
                        <input name="lastname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">email</label>
                        <input name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Website</label>
                        <input name="website" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">No. of Employees</label>
                        <input name="employees" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Rating</label>
                        <input name="rating" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                   
                </div>
            </div>

            <h4>Address Information</h4>
            <div class="splitcontainer">
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Street</label>
                        <input name="street" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">State</label>
                        <input name="state" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                   
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Country</label>
                        <input name="country" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">city</label>
                        <input name="city"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Zip Code</label>
                        <input name="zipcode" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    
                </div>
            </div>
            <h4>Notes</h4>
            <div class="container">
                
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label fallcenter">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                    
               
               
            </div>
            <h4>Attachment</h4>
            <div class="container sizedupload">
                
                <div class="input-group">
                    <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  </div>
               
            </div>
        </div>
           
    </div>



</form>