<form action="/tasks" method="post">
    <div class="leadform">
        <div class="container">
            <div class="subnavbar">
                <h3>Add Task</h3>
                <div class="subnavbarbuttons">
                    <button type="submit" class="leadsavebutton">Save</button>
                    <a href="" class="leadsavebutton">Discard</a>
                </div>
            </div>

            <div class="splitcontainer">
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Task Name</label>
                        <input name="taskname" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Due Date</label>
                        <input name="duedate" type="date" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Due Time</label>
                        <input name="duetime" type="time"  class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                </div>
                <div class="container">
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Priority</label>
                        <input name="priority" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1" class="form-label fallcenter ">Status</label>
                        <select class="form-select fallcenter" name="status" aria-label="Default select example">
                            <option selected>Status of Task</option>
                            <option value="Not yet started">Not yet started</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Competed">Competed</option>
                        </select>
                    </div>

                </div>
            </div>

        </div>

    </div>



</form>