<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/login.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbarbackground ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><svg width="40" height="40" viewBox="0 0 190 176" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M34.6488 35.2373C53.785 15.7763 85.0741 15.5129 104.535 34.649L165.105 94.2075C171.012 100.016 171.092 109.513 165.283 115.42L124.732 156.66C114.664 166.899 98.2021 167.037 87.9633 156.97L35.2371 105.124C15.7761 85.9874 15.5127 54.6983 34.6488 35.2373V35.2373Z"
            fill="url(#paint0_linear_449_10)" />
          <path
            d="M68.0457 86.4062C67.2457 84.0062 67.7124 78.0729 68.0457 75.4062L119.546 45.9062L139.046 65.4062L122.546 81.9062C108.946 97.1063 87.8792 96.9062 79.0459 94.9062C75.7125 93.0729 68.8457 88.8063 68.0457 86.4062Z"
            fill="#0034FA" />
          <path
            d="M105.046 33.9064L67.546 71.4064C64.746 75.4065 66.3794 79.4063 67.546 80.9062C81.146 99.3063 106.879 88.5729 118.046 80.9062L134.546 64.4062L160.046 90.4062C160.046 90.4062 166.046 96.4062 168.046 99.9062C170.046 103.406 167.046 113.906 167.046 113.906C174.546 106.073 178.146 101.906 178.546 101.906C179.046 101.906 206.546 55.9064 171.046 30.4064C142.646 10.0064 115.213 24.2397 105.046 33.9064Z"
            fill="url(#paint1_linear_449_10)" />
          <defs>
            <linearGradient id="paint0_linear_449_10" x1="37" y1="32.5" x2="144" y2="135.5"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#03B3FF" />
              <stop offset="1" stop-color="#234AFE" />
            </linearGradient>
            <linearGradient id="paint1_linear_449_10" x1="69" y1="82.5" x2="175" y2="34" gradientUnits="userSpaceOnUse">
              <stop stop-color="#01EAFF" />
              <stop offset="1" stop-color="#0198FF" />
            </linearGradient>
          </defs>
        </svg></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leads">Lead Management</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex space-between-e" role="search">
          <a href="/login" class="navbar-button">Login</a>
          <a href="/signup" class="navbar-button">Signup</a>
        </form>
      </div>
    </div>
  </nav>
  <%- body %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>
</body>
</body>

</html>