<div class="mid-cont">
  <div class="box-lead">
    <div class="box1">
      <h1>How do you bring in leads?</h1>

      <button type="button" class="btn btn-primary">Create a Lead</button>
      <button type="button" class="btn btn-primary">Import Lead</button>
    </div>
    <div class="box2">
    </div>
  </div>
</div>
