<div class="container centerit">
  <div class="flexit borderit">
    <div class="half-div">
      <img class="side-img" src="img/signup.png" alt="" srcset="" />
    </div>
    <div class="half-div form-div">
      <form action="/register" method="post">
        <h3 style="color: white; padding-bottom: 10px">SignUp</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" style="color: white" class="form-label">Name</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" style="color: white" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" style="color: white" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="login-buttons">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/auth/google" type="button" role="button"> <img alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />Connect
          with Google</a>
        </div>
      </form>
    </div>
  </div>
</div>