

.google-button img{
width: 20px;
margin-bottom:3px; 
margin-right:5px
}

.google-button{
    margin-top: 20px;
}

.buttons-all{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.leadform{
    margin-top:30px ;
}

.subnavbar{
    display: flex;
    justify-content: space-between;
}
.subnavbarbuttons{
    width: 120px;
    display: flex;
    justify-content: space-between;
    
}

.uploadimage img{
    width: 100px;
}
.uploadimage{
    margin-top: 20px;
    margin-bottom: 20px;
}

.splitcontainer{
    display: flex;
    margin-bottom: 30px;
}

.mid-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* leads page css below */
.fallcenter{
    text-align: start !important;
}

.sizedupload{
    margin-bottom: 100px;
}
.box-lead{
  border-radius: 5px;
  border: 2px black solid;
  padding:5%;
  margin-top: 30px;
  display:flex;
}

.box2{
  width:30px;
  background-image:url(https://img.freepik.com/free-vector/hand-drawn-flat-design-crm-illustration_23-2149379498.jpg?w=1060&t=st=1665130844~exp=1665131444~hmac=425961ee84d9a70e30da5bf82ca8bdda95c5a8c1db1192112052cdd30968efe2) ;
}
/* leads page css above */


.logoutbtnmain{
  padding: 8px 14px;
  background-color: #0077C0;
  color: white;
  border-radius: 10px;
}












.flexit{
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.centerit{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderit{
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  background-color: #1D242B;
}
.login-buttons{
  display: flex;
  flex-direction: column;
}
.login-buttons button{
  margin-bottom: 12px;
}

.login-buttons a{
  text-decoration: none;
  padding: 6px 12px;
  background-color: #1D242B;
  border: solid 1px white ;
  color: white;
  border-radius: 50px;
}
.login-buttons img{
  width: 20px;
  margin-right: 12px;
}


.side-img{
  width: 500px
}














